/*buttonholder*/
#buttonholder { 
    position: absolute;
    top: 5px;
    background-color: rgba(0, 0, 255, 1);
    overflow-x: hidden;
    height: 10%;
    width: 420px;
    left: -315px;
    color: lightGreen;
    border-radius: 1vh;
    transition: left 1s, height 1s, top 1s, background-color 1s, width 1s, color 0.2s, border-radius 2s, left 1s;
    transition-delay: 0.4s; 
    
}
#buttonholder:hover {
    left: 0.4vw;
    border-radius: 0vh;
    top: 0%;
    width: wrap-content;
    height: 90%;
    background-color: rgba(255, 23, 68, 0.5);
    color: transparent;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    transition-delay: 0s;
}

/*scrollbar*/

#buttonholder::-webkit-scrollbar{
    width:4.5%;
    background-color: transparent;
}
#buttonholder::-webkit-scrollbar:hover{
}
#buttonholder::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 255, 0.6);
    border-radius: 5vh;
    height: 20%;
}
#buttonholder::-webkit-scrollbar-thumb:hover{
    /*background-color: rgba(144, 238, 144, 0.8);*/
    background-color: rgba(255, 110, 25, 0.7);
    
    
}
#buttonholder::-webkit-scrollbar-thumb:active{
    background-color: rgba(50, 204, 20, 0.8);
    
    
}
#buttonholder::-webkit-scrollbar-button {
    height: 5%;
    border-radius: 0.3vh;
    background-color: rgba(0, 0, 255, 0.6);
}
#buttonholder::-webkit-scrollbar-button:hover {
    background-color: rgba(255, 110, 25, 0.7);
}
#buttonholder::-webkit-scrollbar-button:active {
    background-color: rgba(50, 204, 20, 0.8);
}
@keyframes slidein {
    0% {
        left: -500px;
        color: transparent
    }
    70% {
        color: lightGreen;
        left: -300px;
    }
    100% {
        left: -315px;
    }
}