html {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;    
    background-position: center; 
}

@keyframes backimageanim {
    from {
        background-size: 150% 150%;
    }
    to {
        background-size: 100% 100%;
    }
}
::-webkit-scrollbar {
    width: 0%;
    height: 0%;
}