#hometext {
    text-align: center; 
    color: blue; 
    font-size: 2.8em;
    margin-top: 10%; 
    font-family: Montserrat;
    font-weight: bolder;
    
    
}
@keyframes hometextanim {
    from {
        opacity: 0;
        color: coral;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        color: cobalt;
        transform: scale(1);
    }
    
}
