@import url('fonts.css');
@import url('button.css');
@import url('buttonholder.css');
@import url('html.css');

#label {
    width: 220px; 
    height: 20px;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    display: block;
    left: 44%; 
    text-align: right; 
    font-weight: 900; 
    font-size: 1.343em;
    font-family: Airstrike3d;
}
.game {
    position: relative; 
    margin: auto; 
    top: 50%; 
    transform: translateY(-50%); 
    display: block;
    opacity: 0.9;
}
